
<div class="row" style="width:800px; margin:0 auto;">
  <div class="col-md-6">
    <h5>Services:</h5>
    <hr>
    <div class ="card card-body">
      <a class="btn btn-primary btn-sm btn-block" href="">Look for Services</a>
      
        <table class="table table-sm">
         <thead> 
        <tr>
          <th>Service</th>
          <th>Price</th>
          <th>Contractor<th>
        </tr>
        </thead>
        </table>
      
      
    </div>
  </div>
  <div class="col-md-6">
    <h5>Contractors:</h5>
    <hr>
    <div class ="card card-body">
      <h3>List of Contractors</h3>

      <table class="table table-sm">
        <thead>
        <tr>
          <th>Contractors</th>
          <th>Services</th>
          <th>Prices</th>
        </tr>
      </thead>
      <tbody>
        
          {% for contractor in Contractors %}
          <tr>
            <td>{{contractor.account.username}}</td>
            <td>{{contractor.name}}</td>
            <td>{{contractor.price}}</td>
          </tr>
          {% endfor %}
        
      </tbody>
      </table>

    </div>
  </div>
</div>
<br>
<div class="col-lg-10" style="width:800px; margin:0 auto;">
  <h5>Request Services:</h5>
  <hr>
  <div class ="card card-body">
    <a class="btn btn-primary btn-sm btn-block" href="/request_service/">Request</a>

    <table class="table table-lg">
      <thead>
      <tr>
        <th>Contractor</th>
        <th>Service</th>
        <th>Date Request</th>
        <th>Status</th>
        <th>Cancel</th>
      </tr>
      </thead>
      <tbody>
        
        {% for customer in customer_request %}
        <tr>
          <td>{{customer.contractor}}</td>
          <td>{{customer.service}}</td>
          <td>{{customer.date_request}}</td>
          {{ customer.id }}
          <td>Pending</td>
          <td>
            <form action="{% url 'backendcore_api:delete_service_request' customer.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      
    </tbody>
    </table>

  </div>
</div>
